[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
scrapy-playwright = "*"
streamlit-authenticator = "*"
openpyxl = "*"
stqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
